
**__pycache__/**
**.*_cache**

*.pyc
.venv/
v/

input/
output/
scratch/
inbox/
temp/

notes/
.notes/
testing/
**dummy_file**
**.coverage

.coverage
.coverage.*
htmlcov/
coverage/

**/temp/
**/.temp/
